In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [19]:
data_file = 'very_large.csv'
df = pd.read_csv(data_file, names=['cost', 'weight'])

    
capacity = int(0.8 * sum(df['weight']))
    #print("\nSetting weight capacity to 80% of total: {}".format(str(capacity)))

In [20]:
df2 = df.sample(100, random_state=0).reset_index(drop=True)
df3 = df.sample(150, random_state=0).reset_index(drop=True)
df4 = df.sample(250, random_state=0).reset_index(drop=True)
df5 = df.sample(500, random_state=0).reset_index(drop=True)

In [21]:
df2.to_csv('./data/large2.csv', index=False,header=False,encoding='utf-8')
df3.to_csv('./data/large3.csv', index=False,header=False,encoding='utf-8')
df4.to_csv('./data/large4.csv', index=False,header=False,encoding='utf-8')
df5.to_csv('./data/large5.csv', index=False,header=False,encoding='utf-8')

In [22]:
from os import walk
path = './data/'
files = []
filenames = next(walk(path), (None, None, []))[2]

In [23]:
filenames

['large.csv', 'large2.csv', 'large3.csv', 'large4.csv', 'large5.csv']

In [24]:
for file in filenames:
    files.append(path+file)

In [25]:
files

['./data/large.csv',
 './data/large2.csv',
 './data/large3.csv',
 './data/large4.csv',
 './data/large5.csv']

In [26]:
df5.dtypes

cost      int64
weight    int64
dtype: object

In [27]:
df5.head()

   cost  weight
0   403     964
1   151     739
2   885     673
3   685     999
4   644     386