In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [45]:
df = pd.DataFrame(np.random.randint(1,40000,size=(500, 2)), columns=['cost', 'weight'])

In [46]:
df.tail()

      cost  weight
495  19730    1528
496  30567   16992
497  17492    4657
498   8879   25131
499   9777   14150

In [47]:
df2 = df.sample(25).reset_index(drop=True)
df3 = df.sample(30).reset_index(drop=True)
df4 = df.sample(35).reset_index(drop=True)
df5 = df.sample(40).reset_index(drop=True)

df6 = df.sample(45).reset_index(drop=True)
df7 = df.sample(50).reset_index(drop=True)
df8 = df.sample(55).reset_index(drop=True)
#df9 = df.sample(60).reset_index(drop=True)
df9 = pd.DataFrame(np.random.randint(1,13539,size=(60, 2)), columns=['cost', 'weight'])
#df10 = df.sample(500, random_state=0).reset_index(drop=True)

In [48]:
df2.to_csv('./data/test2.csv', index=False,header=False,encoding='utf-8')
df3.to_csv('./data/test3.csv', index=False,header=False,encoding='utf-8')
df4.to_csv('./data/test4.csv', index=False,header=False,encoding='utf-8')
df5.to_csv('./data/test5.csv', index=False,header=False,encoding='utf-8')

df6.to_csv('./data/test6.csv', index=False,header=False,encoding='utf-8')
df7.to_csv('./data/test7.csv', index=False,header=False,encoding='utf-8')
df8.to_csv('./data/test8.csv', index=False,header=False,encoding='utf-8')
df9.to_csv('./data/test9.csv', index=False,header=False,encoding='utf-8')

In [18]:
from os import walk
path = './data/'
files = []
filenames = next(walk(path), (None, None, []))[2]

In [19]:
filenames

['test.csv',
 'test1.csv',
 'test2.csv',
 'test3.csv',
 'test4.csv',
 'test5.csv',
 'test6.csv',
 'test7.csv',
 'test8.csv',
 'test9.csv']

In [12]:
for file in filenames:
    files.append(path+file)

In [13]:
files

['./data/test.csv',
 './data/test1.csv',
 './data/test2.csv',
 './data/test3.csv',
 './data/test4.csv',
 './data/test5.csv',
 './data/test6.csv',
 './data/test7.csv',
 './data/test8.csv',
 './data/test9.csv']